@extends('layouts.user')

@section('name', 'CHANGE YOUR PASSWORD')

@section('content')
<div class="col-xs-12 col-sm-12 col-lg-4 col-lg-offset-4">
	<div class="white-box">

    <form class="main-form" id="main-form" method="POST" action="{{ route('password.store') }}">
            @csrf
                       <input type="hidden" name="token" value="{{ $request->route('token') }}">
                       
                        <div class="form-group">
                                <label for="email">email:</label>
                                <input id="email" type="email" class="form-control @error('email') is-invalid @enderror" name="email" value="{{ old('email') }}" autocomplete="email">
                        </div>

                        <div class="form-group">
                            <label for="password">password:</label>
                            <input id="password" type="password" class="form-control @error('password') is-invalid @enderror" name="password" autocomplete="new-password">
                        </div>

                        <div class="form-group">
                            <label for="password-confirm">confirm password:</label>
    
                            <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required autocomplete="new-password">
                        </div>

                    <div class="form-group">
                        <div class="row-sm-offset-4-sm-7">
                            <button type="submit" class="btn btn-primary">
                                    RESET PASSWORD
                                </button>
                
                                <a type="submit" id="submit" class="btn btn-wide btn-danger" 
                                href="{{ route('login') }}">CANCEL</a>                                
                        </div>
                    </div>  
    </form>

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        <div class="dismissable-panel output">
                {% for category, message in messages %}
                        <p>{{ message }}</p>
                {% endfor %}
                <span class="dismiss-button">&times;</span>
        </div>
    {% endif %}
    {% endwith %}
    
</div>
@endsection
